<?xml version="1.0"?>
<!--
  For more information on how to configure your ASP.NET application, please visit
  http://go.microsoft.com/fwlink/?LinkId=169433
  -->
<configuration>
  <system.web>
    <compilation debug="true" targetFramework="4.5"/>
    <httpRuntime targetFramework="4.5"/>
  </system.web>
  <system.serviceModel>
    <bindings>
      <basicHttpBinding>
        <binding name="BasicHttpBinding_ILoginRegisterService" />
        <binding name="BasicHttpBinding_ISearchService" />
      </basicHttpBinding>
    </bindings>
    <client>
      <endpoint address="http://localhost:21162/LoginRegisterService.svc"
        binding="basicHttpBinding" bindingConfiguration="BasicHttpBinding_ILoginRegisterService"
        contract="LoginRegisterService.ILoginRegisterService" name="BasicHttpBinding_ILoginRegisterService" />
      <endpoint address="http://localhost:26265/SearchService.svc"
        binding="basicHttpBinding" bindingConfiguration="BasicHttpBinding_ISearchService"
        contract="SearchServiceReference.ISearchService" name="BasicHttpBinding_ISearchService" />
    </client>
  </system.serviceModel>
</configuration>